* {
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: rgb(220, 229, 232);
}

.cabecalho {
    background-color: rgb(161, 182, 208);
    color: black;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;

    h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .menu ul {
        list-style: none;
    }

    .menu ul li {
        display: inline;
        margin: 0 10px;
    }

    .menu a {
        color: black;
        text-decoration: none;
    }

    .menu a:hover {
        text-decoration: underline;
    }
}
  
.rodape {
    background-color: rgb(161, 182, 208);
    color: #000000;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
}

.loginDiv {

    margin: 0 auto;
    width: 95%;
    padding-top: 100px;

    h1 {
        margin-bottom: 10px;
        text-align: center;
        background-color: black;
        color: white;
    }

    legend {
        margin-bottom: 10px;     
    }

    fieldset {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 20px;
    }
}
